% -*- mode: latex; -*- mustache tags: {{=« »=}} «! the '&' below prevents HTML escaping. »
\documentclass[10pt,twoside,english]{root/support/latex/sbabook/sbabook}
\let\wholebook=\relax

\usepackage{import}
\subimport{root/support/latex/}{common.tex}

%=================================================================
% Debug packages for page layout and overfull lines
% Remove the showtrims document option before printing
\ifshowtrims
  \usepackage{showframe}
  \usepackage[color=magenta,width=5mm]{root/support/latex/overcolored}
\fi


% =================================================================
\title{«& title»}
\author{«& attribution»}
\date{\gitdate\titlebreak[\smallskip]{ -- }\protect\gitCommitInfo}

\hypersetup{pdfinfo = {
    Title = {«& title»},
    Author = {«& attribution»},
    Keywords = {pharo, smalltalk}}}


% =================================================================
\begin{document}

% Title page and colophon on verso
\maketitle
\pagestyle{titlingpage}
\thispagestyle{titlingpage} % \pagestyle does not work on the first one…

\cleartoverso
{\small

  Copyright 2017 by «& attribution».

  The contents of this book are protected under the Creative Commons
 Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0) license.

  You are \textbf{free}:
  \begin{itemize}
  \item to \textbf{Share}:copy and redistribute the material in any medium or format.
  \end{itemize}

  Under the following conditions:
  \begin{description}
  \item[Attribution.] You must attribute the work in the manner specified by the
    author or licensor (but not in any way that suggests that they endorse you
    or your use of the work).
  \item[ NonCommercial ] You may not use the material for commercial purposes.
  \item[ NoDerivatives. ] If you remix, transform, or build upon the material, you may not distribute the modified material.
  \end{description}

  For any reuse or distribution, you must make clear to others the
  license terms of this work. The best way to do this is with a link to
  this web page: \\
  \url{https://creativecommons.org/licenses/by-nc-nd/4.0/}

  Any of the above conditions can be waived if you get permission from
  the copyright holder. Nothing in this license impairs or restricts the
  author's moral rights.

  \begin{center}
    \includegraphics[width=0.2\textwidth]{root/support/latex/by-nc-nd.pdf}
  \end{center}

  Your fair dealing and other rights are in no way affected by the
  above. This is a human-readable summary of the Legal Code (the full
  license): \\
  \url{http://creativecommons.org/licenses/by-sa/3.0/legalcode}

  \vfill

  % Publication info would go here (publisher, ISBN, cover design…)
  Layout and typography based on the \textcode{sbabook} \LaTeX{} class by Damien
  Pollet.
}


\frontmatter
\pagestyle{plain}

\tableofcontents*
\clearpage\listoffigures

\mainmatter

«& content»

% lulu requires an empty page at the end. That's why I'm using
% \backmatter here.
\backmatter

% Index would go here

\end{document}
