% -*- mode: latex; -*- mustache tags: {{=« »=}} «! the '&' below prevents HTML escaping. »
\documentclass[10pt,twoside,english]{sbabook}
\let\wholebook=\relax

\input{common}
% \usepackage{import}
% \subimport{root/support/latex/}{common.tex}

\usepackage{hyperxmp,enumitem}
\usepackage[
  type={CC},
  modifier={by-nc-nd},
  version={4.0},
  imagemodifier={-eu},
  imagewidth=2.5cm
]{doclicense}

%=================================================================
% Debug packages for page layout and overfull lines
% Remove the showtrims document option before printing
\ifshowtrims
  \usepackage{showframe}
  \usepackage[color=magenta,width=5mm]{overcolored}
\fi


% =================================================================
\title{«& title»}
\author{«& attribution»}
\series{«& series»}
\date{\gitdate\titlebreak[\smallskip]{ -- }\protect\gitCommitInfo}

\hypersetup{
  pdftitle = {«& title»},
  pdfauthor = {«& attribution»},
  pdfkeywords = {«& keywords»}
}


% =================================================================
\begin{document}

% Title page and colophon on verso
\maketitle
\pagestyle{titlingpage}
\thispagestyle{titlingpage} % \pagestyle does not work on the first one…

\cleartoverso
{\small
  \ccCopy~2017 by «& attribution».

  \doclicenseThis

  \sectionline

  \begin{center}\itshape
    This is a human-readable summary of (and not a substitute for) the license: \\
    \url{\doclicenseURL}
  \end{center}

  \subsubsection*{You are free to:}

  \begin{description}[format=\sffamily\bfseries]
  \item[\ccShare\ Share] Copy and redistribute the material in any medium or format.
  \end{description}
  The licensor cannot revoke these freedoms as long as you follow the license terms.

  \subsubsection*{Under the following terms:}

  \begin{description}[format=\sffamily\bfseries]
  \item[\ccAttribution\ Attribution] You must give appropriate credit, provide a link to the
    license, and indicate if changes were made.
    You may do so in any reasonable manner, but not in any way that suggests the
    licensor endorses you or your use.
  \item[\ccNonCommercial\ NonCommercial] You may not use the material for commercial purposes.
  \item[\ccNoDerivatives\ NoDerivatives] If you remix, transform, or build upon the material,
    you may not distribute the modified material.
  \item[No additional restrictions] You may not apply legal terms or
    technological measures that legally restrict others from doing anything the
    license permits.
  \end{description}

  \vfill

  % Publication info would go here (publisher, ISBN, cover design…)
  Layout and typography based on the \textcode{sbabook} \LaTeX{} class by Damien
  Pollet.
}


\frontmatter
\pagestyle{plain}

\tableofcontents*
\clearpage\listoffigures

\mainmatter

«& content»

% lulu requires an empty page at the end. That's why I'm using
% \backmatter here.
\backmatter

% Index would go here

\end{document}
